<script>
  function getWifiData() {
    $.ajax({
      type: 'GET',
      url: '/api/settings/ap',
      dataType: 'json',
      success: function (data) {
        $("#ap_avtive").prop('checked', true);
        $("ap_ssid").value = data["ssid"];
      }
    });
  }
  $(document).ready(function(){
    getWifiData();
  });
  $(document).ready(function(){
    $("#submit").on('click', function(){
      $.ajax({
        url: '/api/settings/ap',
        type : "POST",
        dataType : 'json',
        data : $("#form").serialize(),
        complete: function () {
          getWifiData();
        }
      })
    });
  });
</script>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <div class="form-group">
      <form id="form" action="" onsubmit="">
        <div class="col">
          <div class="material-switch">
            Acess Point Active:
            <input id="ap_sw" type="checkbox" />
            <label for="ap_sw" class="label-success"></label>
          </div>
        </div>
        <div class="col-8">
          <label for="ap_ssid">SSID: </label>
          <input type="text" id="ap_ssid" class="form-control">
        </div>
        <div class="col-8">
          <label for="ap_password">Password: </label>
          <input type="text" id="ap_password" class="form-control">
        </div>
        <div class="col-8">
          <br>
          <button type="button" id="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
