<script type = "application/javascript">
  function getApData() {
    getData('/api/ap', function(data){
      $("#active").prop('checked', data["active"]);
      $("#ssid").val(data["ssid"]);
    });
    $("#password").val('');
  }
  $(document).ready(getApData);
  setSubmitClick(getApData);
</script>
<div class="panel panel-default">
  <div class="panel-heading">
    <div id="message" class="alert" style="display: none;"></div>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <form id="form" action="/api/ap" method="POST" role="form">
        <div class="col">
          <div class="material-switch">
            Access Point Active:
            <input name="active" hidden=true value=false />
            <input name="active" id="active" type="checkbox" value=false />
            <label for="active" class="label-success"></label>
          </div>
        </div>
        <div class="col-8">
          <label for="ssid">SSID: </label>
          <input type="text" name="ssid" id="ssid" required=true minlength="1" maxlength="30" class="form-control">
        </div>
        <div class="col-8">
          <label for="password">Password: </label>
          <input type="text" name="password" id="password" placeholder="Enter New Password" minlength="8" maxlength="30" class="form-control">
        </div>
        <div class="col-8">
          <br>
          <button type="submit" id="submit" disabled=true class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
